.about_background {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    backdrop-filter: blur(1px); 
    -webkit-backdrop-filter: blur(1px); 
    background-color: rgba(189, 69, 0, 0.504);
    border-radius: 10px;

    width: 80vw;
    height: 350px;
    padding: 30px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.about h1 {
    display: inline-flex;
    align-items: center;
    margin: 0px;

    color: #c64803;
    -webkit-text-stroke: 1.5px #8e1919;
    font-size: 2em;
}

.about span {
    background-color: rgba(189, 69, 0, 0.67);
    border:3px solid #8e1919;

    margin-right: 10px;
    border-radius: 100px;
}

.about p {
    font-family: "Jetbrains Mono";
    font-size: 1.3em;
}