@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url(../public/assets/generic/mars_background.png);
  background-size: 500px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  font-family: "Press Start 2P", cursive, "Jetbrains Mono", monospace;
}

