.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    backdrop-filter: blur(1px); 
    -webkit-backdrop-filter: blur(1px); 
    background-color: rgba(189, 69, 0, 0.504);
    border-radius: 10px;

    width: 65vw;
    height: 30vh;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.placeholder h1 {
    color: #c64803;
    -webkit-text-stroke: 1px #8e1919;
    font-size: calc(1.1vw + 1.1vh);
    line-height: 5vh;
}

.placeholder p {
    font-family: "Jetbrains Mono";
    color: #000000;
    font-size: calc(0.9vw + 0.9vh);
    line-height: 5vh;
}